*, *::before, *::after {
    box-sizing: border-box;
}


body {
    font-family: 'Courier New', Courier, monospace;
    background: #100f0f;
    justify-content: center;
    padding-top: 50px;
}

.outer-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 10px;
}


.left-box {
    position: relative;
    background: #00193f;
    padding: 15px;
    color: #d9f8c0;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.prompt {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #044904;
    font-weight: bold;
    font-size: 18px;
    font-family: inherit;
}

.cmd {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: inherit;
    resize: none;

    background: transparent;
    font-size: 18px;

    color: #d9f8c0;
    border: none;
    outline: none;

    /* padding to avoid overlapping the ">" prompt */
    text-indent: 16px;
    padding-top: 0;
    line-height: 1.5;
}

.right-box {
    /* Two columns of equal width (1fr), with a gap of 10px */
    grid-template-columns: repeat(2, 1fr);
    /* Two rows with flexible height */
    grid-template-rows: repeat(2, 1fr);
    /* Gaps between all items */
    gap: inherit;
    flex: 1;
    margin-top: 20px;
    display: grid;
    position: relative;
    height: 80%;
}

.model-name-box {
    width: 70%;
    position: relative;
    border-color: grey;
    font-family: inherit;
    border-radius: 3px;
    color: #d9f8c0;
    background-color: #000921;
    margin-left: 10px;
}

 .highlights {
    padding: 10px;
    border-radius: 5px;
    margin: 0;

    font-size: 14pt;
    font-weight: bold;
    line-height: 1.5;

    /* Preserve whitespace and wrapping */
    white-space: pre-wrap;
    word-wrap: break-word;
    border-color: transparent;
}

/* Individual box styling to contain absolute positioned highlights */
.output-box {
    position: relative;
    background-color: #00193f;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 300px;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 3px
}


span.token-text-0 {
    color: #f3d127
}

span.token-text-1 {
    color: #80fa43
}

span.token-text-2 {
    color: #13eaa9
}

span.token-text-3 {
    color: #24bcd7
}
